.box1{
    border: 2px solid #3498DB;
    margin-bottom: 10px;
    padding-left: 5px;
}
.box2{
    border: 2px solid #E74C3C;
    margin-bottom: 10px;
    padding-left: 5px;
}
.box3{
    border: 2px solid #2ECC71;
    margin-bottom: 10px;
    padding-left: 5px;
}
.box4{
    border: 2px solid #F39C12;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
}
.box5{
    border: 2px solid purple;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
}
.box6{
    color: white;
    border: 1px solid #34495E;
    margin-bottom: 10px;
    background-color: #34495E;
    padding-left: 5px;
}
.box7{
    border: 8px dotted red;
    padding-left: 5px;
}